<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>NBA Livestream Alert</title>
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat|Sarabun"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<div class="container">
			<section>
				<div class="util-margin-horz-15">
					<h1>NBA Livestream Alert</h1>
					<p class="description">
						Notifications when your favorite NBA team is playing
						with links to free livestreams
					</p>
					<div role="alert" class="alert js-notifications-alert">
						<h2>
							<i
								class="fas fa-exclamation-circle"
								aria-hidden="true"
							></i>
							You must allow notifications before proceeding.
						</h2>
						<button class="btn btn-lg js-enable-notifications">
							Allow notifications
						</button>
						<p>
							To protect people from receiving unwanted
							notifications, websites must request and receive
							permission to send notifications to users. In order
							to receive alerts, you must allow notifications from
							this site by clicking the
							<strong>"Allow notifications"</strong>
							button above.
						</p>
					</div>
				</div>
			</section>
			<main class="main">
				<div class="util-margin-horz-15">
					<h2>Manage subscriptions</h2>
					<p>
						<i
							class="fas fa-info-circle text-info util-margin-right-5"
							aria-hidden="true"
						></i>
						Click the "subscribe" button to receive notifications
						for that team
					</p>
				</div>
				<div class="teams"></div>
			</main>
		</div>
	</body>
</html>
