@import "global";

h1 {
	font-size: 64px;
	margin-bottom: 0;
}

html {
	color: $black;
	font-family: $font-main;
}

.alert {
	border: 1px solid $red;
	border-radius: 2px;
	padding: 30px;

	h2 {
		font-size: 24px;
		letter-spacing: 1px;
		margin-top: 0;
		color: $red;
	}

	p {
		line-height: 30px;
	}
}

.btn.btn-warning {
	background-color: $red;
}

.btn-lg {
	font-size: 20px;
	padding: 15px 20px;
}

.center-block {
	display: block;
	margin: auto;
}

.description {
	font-weight: bold;
	color: $blue;
	letter-spacing: 2px;
	margin-bottom: 90px;
}

.hidden {
	display: none;
}

.team {
	border: 1px solid $light-gray;
	border-radius: 3px;
	height: 230px;
	margin: 15px;
	padding: 15px;
	position: relative;

	button {
		position: absolute;
		bottom: 0;
		width: 135px;
		bottom: 20px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		display: block;
		margin: auto;
		width: 100px;
	}

	h3 {
		font-family: $font-header;
		text-align: center;
	}
}
.teams {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.text-info {
	color: $blue;
}

.util-margin-horz-15 {
	margin-left: 15px;
	margin-right: 15px;
}

.util-margin-right-5 {
	margin-right: 5px;
}
