@import "global";

.alert {
	margin: 30px 0;
}

form {
	width: 340px;
	margin: auto;
}

label {
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
}

input {
	border: 1px solid $light-gray;
	height: 30px;
	font-size: 16px;
	padding-left: 5px;
	border-radius: 3px;
	width: 100%;
}

.verify-container {
	width: 400px;
	margin: auto;
}
